.dashboard-search {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  background-color: white;
  gap: 16px;
  z-index: 1;
  padding: 2px 2px;
  padding-right: 16px;

  
}
.dashboard-search-bar-container {
  width: 100%;
  padding: 5px 20px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  background-color: white;
  gap: 8px;
}
.dashboard-search-bar-container:focus-within{
  box-shadow: rgba(56, 56, 236, 0.164) 0px 0px 1px 3px;
}

.dashboard-search-input {
  outline: none;
  outline-style: none;
  border: none;
  height: 100%;
  width: 100%;
}
.dashboard-search-input::placeholder {
  color: #90a0b7;
  font-size: 12px;
  font-weight: 400;
}
.dashboard-search-alert-bell {
  margin-left: auto;
  cursor: pointer;
  /* flex-basis: 2; */
  /* display: inline-block; */
}
